@media only screen and (min-width: 375px) {
  .planetCard {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .planetCardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 28px;
  }
}

@media only screen and (min-width: 768px) {
  .infoBtns1 {
    display: none;
  }

  .planetCard {
    padding: 95px 40px 32px 40px;
  }

  .planetCardContent {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .infoBtns1 {
    display: none;
  }

  .planetCard {
    flex-direction: row;
    justify-content: flex-end;
    padding: 95px 0 0 0;
  }

  .planetCardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
  }
}
