* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /*    typography*/

  --font-family-1: "Antonio", sans-serif;
  --font-family-2: "League Spartan", sans-serif;
  --font-family-3: "Manrope", sans-serif;
  --font-family-4: "Overpass", sans-serif;

  /* colors */

  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 67%, 8%);
  --dark-grey: hsl(240, 17%, 26%);
  --light-grey: hsl(240, 6%, 54%);
  --turcoise: hsl(194, 48%, 49%);
  --oker: hsl(33, 82%, 61%);
  --purple: hsl(263, 67%, 51%);
  --terra: hsl(10, 63%, 51%);
  --red: hsl(2, 68%, 53%);
  --orange: hsl(17, 73%, 46%);
  --green: hsl(169, 73%, 44%);
  --blue: hsl(222, 87%, 56%);
}

body {
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(240, 67%, 8%);
}
